:root{
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --gray: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body{
  background-color: var(--cream);
}

.card-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  height: 350px;
  background-color: var(--white);
  display: flex;
  width: 480px;
  border-radius: 8px;
} 

.product-image{
  height: 350px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.text-section{
  margin: 20px;
}

.product{
  font-family: montserrat;
  font-size: 12px;
  color: var(--gray);
}

.price-line{
  display: flex;
  column-gap: 20px;
}